.container {
    padding: var(--telegram-horizontal-paddings);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subtitle {
    color: var(--telegram-hint-color);
}

.image-container {
    width: 128px;
    height: 128px;
    align-self: center;

    img {
        width: 100%;
        height: 100%;
    }
}